html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

body .mb0 {
    margin-bottom: 0;
}

body .mb5 {
    margin-bottom: 5px;
}

body .mb20 {
	margin-bottom: 20px;
}

body .mb30 {
	margin-bottom: 30px;
}

body .mb70 {
    margin-bottom: 70px;
}

body .mr50 {
    margin-right: 50px;
}

body .mr70 {
    margin-right: 70px;
}

body .mr150 {
    margin-right: 150px;
}

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: calc(100% - 4px);
    background: #fff;
    z-index: 0;
}

.simplebar-scrollbar {
    z-index: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
    left: 0;
    right: 0;
    width: 8px;
    margin: auto;
    background: #FFF236;
    border-radius: 0;
    opacity: 1;
}

/**/

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider * {
    outline: none;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    z-index: 1;
}

/**/

/* Select2 */
.select {
    max-width: 410px;
    min-width: 140px;
    width: 100%;
    /*margin: 10px auto;*/
}

.select select {
    width: 100%;
}

.select2 {
    z-index: 2;
}

.select2.select2-container--open {
    z-index: 4;
}

.select2-container--open {
    z-index: 3;
}

.select2-container span {
    outline: none;
}

.select2-container .select2-selection--single {
    width: 100%;
    height: 48px;
    padding: 15px 30px 15px 20px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #003595;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(0, 0, 0, .5);
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 15px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin: 0;
    top: 0;
    left: 0;
    border: none;
    width: 15px;
    height: 8px;
    background: url(../img/faq-arrow-down.svg) center no-repeat;
    transition: all .2s linear;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(-180deg);
}

.select2-dropdown {
    background: #fff;
    border-radius: 0;
    color: #003595;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.select2-container--open .select2-dropdown--below {
    padding-top: 30px;
    top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid transparent;
    overflow: hidden;
    z-index: 1;
}

.select2-results__options {
    border-radius: 0;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 250px;
}

.select2-results__option {
    position: relative;
    font-size: 14px;
    line-height: 1;
    color: #003595;
    min-height: 30px;
    padding: 7px 20px 7px 30px;
}

.select2-results__option::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 20px);
    height: 1px;
    background: rgba(211, 189, 155, 0.5);
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba(255, 245, 104, 0.3);
    color: #231F20;
}
/**/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16px/19px 'Iskra CYR Md', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url(../img/bg.jpg) center 0 no-repeat;
    background-size: cover;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 2;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    margin: auto;
    background: rgba(50, 199, 240, 0.5);
    z-index: 11;
}

header ~ .inner-page {
    margin-top: 140px;
}

.menu {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 10px;
    left: 15px;
    max-width: 159px;
    width: 100%;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
    z-index: 14;
}

.logo-magnit {
    position: absolute;
    top: 6px;
    left: 175px;
    width: 165px;
    height: 55px;
    background: url(../img/logo-magnit.svg) center no-repeat;
    background-size: contain;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
    z-index: 14;
}

.menu-links {
    max-width: 780px;
    width: 100%;
    height: 30px;
    margin: 0 15px 0 auto;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    z-index: 13;
}

.menu-link {
    position: relative;
    font-family: Odds;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}

.menu-link:hover,
.menu-link.active {
    color: #FFF236;
}

footer {
    flex: 0 0 auto;
    position: relative;
    padding: 35px 0 0;
    z-index: 1;
}

footer .container {
    position: relative;
    max-width: 1200px;
    z-index: 1;
}

.footer-text {
    margin: 0 auto 30px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #fff;
}

.footer-text span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.footer-container {
    padding: 20px 0 15px;
    background: #198CC6;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.footer-links a {
    position: relative;
    font-family: Odds;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 40px;
}

.footer-wrapper {
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 150px;
    width: 100%;
}

.footer-contacts {
    max-width: 150px;
    width: 100%;
}

.footer-contacts a {
    display: block;
    text-align: left;
}

.footer-phone {
    font-family: Odds;
    font-size: 21px;
    line-height: 25px;
}

.footer-mail {
    font-size: 16px;
    line-height: 19px;
}

.footer-copyright {
    text-align: center;
}

.copyright {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.mndlz {
    margin: 0 auto 15px;
}

.footer-socials a {
    margin: 0 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(47 187 229 / 80%);
    color: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 10%;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.js-popup-show {
    z-index: 999;
    opacity: 1;
    pointer-events: visible;
}

.popup__wrap {
    position: relative;
    max-width: 350px;
    width: 100%;
    background: url(../img/bg.jpg) center 0 no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 10px 30px;
    border-radius: 40px;
}

.popup__inner {
    max-width: 300px;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.popup-form {
    max-width: 240px;
    width: 100%;
    margin: auto;
}

.popup__title {
    font-family: Odds;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto 10px;
}

.popup__title2 {
    font-family: Odds;
    font-size: 23px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto 10px;
}

.popup__error {
    font-size: 12px;
    line-height: 1;
    min-height: 12px;
    color: #EB2316;
    margin-bottom: 5px;
}

.popup__desc {
    font-size: 14px;
    line-height: 16px;
    color: #003595;
    margin: 0 auto 20px;
}

.popup__desc a {
    color: #fff;
}

.popup__desc.before-send,
.popup__desc.after-send {
    font-size: 14px;
    line-height: 16px;
}

.popup__error + .popup__desc {
    margin-top: 20px;
}

.popup__desc + .btn-wrapper {
    margin-top: 25px;
}

.input-field {
    position: relative;
    width: 100%;
    margin: 0 auto 10px;
}

.input-field:last-child {
    margin-bottom: 0;
}

.input-field input:not([type="checkbox"]),
.input-field textarea {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-family: 'Iskra CYR Md';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003595;
    background: #fff;
    border-radius: 30px;
    transition: all .2s linear;
}

.input-field textarea {
    padding-top: 20px;
    padding-left: 20px;
    height: 140px;
    font-size: 14px;
    line-height: 16px;
}

.input-field input:focus,
.input-field textarea:focus {
    border: 1px solid #979797;
}

.checkbox-wrapper {
    margin: 20px auto;
}

.feedback-form .checkbox-wrapper {
    margin: 10px auto;
}

.checkbox-field {
    text-align: left;
}

.checkbox {
    padding-left: 40px;
    display: inline-block;
    min-height: 25px;
}

.checkbox input {
    -webkit-appearance: none;
    padding: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    position: absolute;
}

.checkmark {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: none;
    border: 2px solid #fff;
}

.checkbox input:checked + .checkmark {
    background: none;
    border: 2px solid #fff;
}

.checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 4px;
}

.checkbox-text {
    font-size: 12px;
    color: #003595;
    display: inline-block;
    vertical-align: middle;
}

.rules-link {
    color: #fff;
}

.input-field input.error[type="checkbox"] ~ .checkbox-text {
    color: #EB2316;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    background: url(../img/close-popup.svg) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.close-popup:hover {
    transform: rotate(-90deg);
}

span.error {
    position: absolute;
    font-size: 0;
}

.checkbox-wrapper span.error {
    display: none !important;
}

.input-field input.error:not([type="checkbox"]),
.input-field textarea.error,
.input-field select.error + .select2-container .select2-selection--single,
.feedback-form .input-field input.error:not([type="checkbox"]),
.feedback-form .input-field textarea.error {
    color: #EB2316;
    border: 1px solid #EB2316;
}

.input-field input.error[type="checkbox"] ~ .checkbox-text,
.input-field input.error[type="checkbox"] ~ .checkbox-text a {
    color: #EB2316;
}

.clock-text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.6;
    text-align: center;
}

.pwd-input {
    padding-right: 90px;
}

.restore-link {
    font-size: 12px;
    line-height: 1;
    color: #EB2316;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 90px;
    height: 12px;
    margin: auto;
}

.reg-text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #003595;
    margin-top: 20px;
}

.popup-link {
    display: block;
    font-family: Odds;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2px;
}

.btn-wrapper {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 240px;
    height: 50px;
    margin: auto;
    padding: 16px 20px 14px;
    background: #CE2E25;
    font-family: Odds;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 33px;
    z-index: 1;
    transition: all .2s linear;
}

.btn:hover {
    background: #b92921;
}

.btn.disabled {
    pointer-events: none;
    opacity: .6;
}

.inner-page {
    position: relative;
    min-height: 600px;
    padding-bottom: 100px;
}

.inner-page::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../img/bg-inner.png) center 0 no-repeat;
    background-size: 100% 100%;
}

.page-title {
    position: relative;
    font-family: Odds;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.faq-container {
    position: relative;
    max-width: 1050px;
    width: 100%;
    margin: 150px auto 0;
    display: flex;
    justify-content: space-between;
}

.faq-wrap {
    max-width: 460px;
    width: 100%;
    height: 560px;
}

.faq-item {
    max-width: 440px;
    width: 100%;
    margin: 0 0 20px;
}

.faq-item-title {
    position: relative;
    font-family: Odds;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 3px;
    padding-left: 55px;
    cursor: pointer;
}

.faq-item-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../img/plus.svg) center no-repeat;
    background-size: contain;
    transition: all .2s linear;
}

.faq-item-title.active::before {
    background: url(../img/minus.svg) center no-repeat;
    background-size: contain;
}

.faq-item-text {
    display: none;
    font-family: 'RotondaC';
    font-size: 16px;
    line-height: 18px;
    padding: 20px 0 0 55px;
}

.feedback-wrap {
    position: relative;
    max-width: 500px;
    width: 100%;
    min-height: 360px;
    margin: 0;
    padding: 25px 10px 30px;
    background: #003595;
    border-radius: 30px;
}

.feedback-title {
    font-family: Odds;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.feedback-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto 30px;
}

.feedback-form {
    max-width: 410px;
    width: 100%;
    margin: auto;
}

.profile-block {
    position: relative;
    text-align: center;
    margin: 100px auto 30px;
}

.logout-link {
    font-family: 'RotondaC';
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.5;
}

.profile-name {
    max-width: 490px;
    width: 100%;
    margin: 0 auto 12px;
    font-family: Odds;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
}

.profile-contacts {
    margin-bottom: 10px;
}

.profile-contact {
    font-family: 'RotondaC';
    font-size: 18px;
    line-height: 1;
    color: #FFF236;
}

.profile-mail {
    margin-bottom: 8px;
}

.table-wrapper {
    max-width: 1160px;
    width: 100%;
    max-height: 420px;
    margin: auto;
    padding-right: 18px;
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #fff;
    padding: 0 20px 10px 0;
}

table tbody {
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #fff;
}

table td {
    padding: 13px 20px 13px 0;
    min-width: 190px;
}

table td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

table td:nth-child(3) {
   min-width: 140px;
}

.lk-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto 35px;
}

.lk-table-wrapper {
    position: relative;
    max-width: 520px;
    width: 100%;
    height: 520px;
    padding: 25px 20px 20px;
    background: rgb(0 53 149 / 60%);
    border-radius: 30px;
}

.lk-announce {
    position: relative;
    max-width: 300px;
    margin: 70px auto 100px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.lk-table-title {
    font-family: Odds;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.lk-table {
    max-width: 450px;
    width: 100%;
    max-height: 320px;
    margin: 90px auto 0;
}

.lk-table th {
    font-family: RotondaC;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.lk-table table td {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    min-width: 90px;
}

.lk-table table td:nth-child(1) {
    min-width: 60px;
}

.lk-table table td:nth-child(5) {
    min-width: 120px;
}

.lk-table .check-preview {
    width: 44px;
    height: 44px;
}

.check-preview {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50px;
}

.check-preview img {
    border-radius: 50px;
}

.check-preview.rejected::after {
    content: '!';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 23px;
    height: 23px;
    margin: auto;
    border-radius: 50px;
    background: #CE2E25;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.rejected-link {
    color: #fff;
}

.lk-prizes {
    max-width: 480px;
    width: 100%;
    height: 450px;
    margin: auto;
}

.lk-prizes .simplebar-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lk-prize {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    width: 100%;
    margin: 15px auto;
}

.lk-prize-img {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    margin: 0 auto 10px;
}

.lk-prize-img img {
    position: absolute;
    left: -100px;
    right: -100px;
    margin: auto;
    width: 130px;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.lk-prize-popup-img {
    width: 200px;
    margin: 0 auto;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.lk-prize-name {
    font-family: Odds;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.lk-prize-link {
    font-size: 20px;
    line-height: 1;
    color: #fff;
}

.popup-prize-name {
    font-size: 22px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.popup .select {
    min-width: 115px;
}

.popup .select2-container--default .select2-selection--single .select2-selection__rendered,
.popup .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
    font-weight: 500;
}

.popup .select2-container--default .select2-results>.select2-results__options {
    text-align: left;
}

.select-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-wrap .popup__input-text {
    margin-left: 10px;
}

.iframe-wrap,
.iframe-wrap iframe {
    scrollbar-width: none;
}

.iframe-wrap {
    height: 100%;
    min-height: 380px;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
}

.iframe-wrap iframe {
    height: 100vh;
    max-height: 380px;
    width: 100%;
}

.prizes-page::before {
    top: 80px;
}

.prizes {
    margin-top: 138px;
}

.prizes-title {
    font-family: Odds;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF236;
}

.prize-row {
    display: flex;
    justify-content: center;
}

.prize-row:nth-child(2) {
    margin-bottom: 55px;
}

.prize {
    margin: 20px 5px;
}

.prize-img {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 240px;
    margin: 10px auto 15px;
}

.prize-img img {
    position: absolute;
    left: -100px;
    right: -100px;
    margin: auto;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.prize-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
}

.how-get-link-wrapper {
    text-align: center;
    margin-top: 15px;
}

.how-get-link {
    font-size: 20px;
    line-height: 1;
    color: #FFF236;
}

.product-page::before {
    background: url(../img/bg-products.png) center 0 no-repeat;
    background-size: 100% 100%;
}

.product-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: -800px;
    right: 0;
    margin: auto;
    width: 310px;
    height: 314px;
    background: url(../img/shild.png) center no-repeat;
    background-size: contain;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.products {
    margin-top: 138px;
}

.products-title {
    font-family: Odds;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF236;
}

.product-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-row:nth-child(2) {
    margin-bottom: 45px;
}

.product-row:nth-child(4) {
    margin-bottom: 45px;
}

.product {
    max-width: 300px;
    width: 100%;
    margin: 20px;
}

.product-img {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.product-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.product-name span {
    display: block;
    margin-top: 8px;
    font-size: 9px;
    line-height: 10px;
    color: #FFF236;
}

.winners-page::before {
    top: 90px;
}

.page-subtitle {
    position: relative;
    font-family: Odds;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
}

.filters {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    max-width: 740px;
    width: 100%;
    margin: 100px auto 40px;
}

.date-filter {
    position: relative;
    max-width: 280px;
    width: 100%;
}

.date-filter .select {
    min-width: 180px;
}

.date-filter .select2-container--below {
    z-index: 3;
}

.date-filter .select2.select2-container {
    padding: 13px 10px 13px 40px;
    background: #A1E2FF;
    border-radius: 30px;
}

.date-filter .select2.select2-container--open {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.date-filter .select2.select2-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 25px;
    height: 22px;
    margin: auto;
    background: url(../img/calendar-icon.svg) center no-repeat;
    background-size: contain;
}

.date-filter .select2-container .select2-selection--single {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding: 0 20px 0 10px;
    border: 0;
    border-bottom: 0;
    box-shadow: none;
}

.date-filter .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #003595;
    font-size: 16px;
    font-weight: normal;
}

.date-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 0;
    color: #003595;
    font-size: 16px;
    font-weight: normal;
}

.date-filter .select2-container--open.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #003595;
}

.date-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 15px;
    width: 18px;
    height: 9px;
    transition: all .2s linear;
}

.date-filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 18px;
    height: 9px;
    background: url(../img/arrow-down-filter.svg) center no-repeat;
    background-size: contain;
    margin: auto;
}

.date-filter .select2-container--open .select2-dropdown--below {
    padding-top: 0;
    top: 0;
    background: #fff;
    border: transparent;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    z-index: 2;
}

.date-filter .select2-results__option {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    height: 40px;
    padding: 13px 10px 13px 50px;
}

/*.date-filter .select2-results__option:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    border: 1px dashed #1E402C;
}*/

.date-filter .select2-results__options {
    color: #231F20;
    font-weight: normal;
    font-size: 12px;
}

.date-filter .select2-container--default .select2-results>.select2-results__options {
    padding-top: 0;
}

.date-filter .select2-container--default .select2-results__option--highlighted[aria-selected],
.date-filter .select2-container--default .select2-results__option[aria-selected=true] {
    color: #231F20;
}

.phone-filter {
    max-width: 280px;
    margin: 0;
}

.phone-filter input:not([type="checkbox"]) {
    font-size: 16px;
    padding-left: 50px;
    background: #A1E2FF;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    background: url(../img/search.svg) center no-repeat;
    background-size: auto;
    transition: all .2s linear;
}

.search:active {
    box-shadow: none;
}

.winners {
    position: relative;
    max-width: 740px;
    width: 100%;
    min-height: 420px;
    margin: auto;
}

.winners-table th {
    font-family: Odds;
    font-size: 16px;
    line-height: 1;
    color: #fff;
}

.winners-table tbody {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #fff;
}

.prize-td {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    min-height: 60px;
    padding-left: 60px;
}

.winners-prize {
    position: absolute;
    left: 0;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.winners-prize img {
    position: absolute;
    left: -50px;
    right: -50px;
    margin: auto;
    width: 50px;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.winners-prize-info {
    max-width: 205px;
    width: 100%;
}

.kv-block {
    position: relative;
    margin-top: 140px;
}

.kv-block .container {
    max-width: 1170px;
    z-index: auto;
}

.barni {
    position: absolute;
    top: 0;
    left: -700px;
    right: 0;
    margin: auto;
    width: 426px;
    height: 553px;
    background: url(../img/barni.png) center no-repeat;
    background-size: contain;
}

.kv {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 468px;
    height: 235px;
    background: url(../img/kv.png) center no-repeat;
    background-size: contain;
}

.steps {
    display: flex;
    flex-direction: column;
    max-width: 338px;
    width: 100%;
    margin-left: auto;
}

.step {
    position: relative;
    max-width: 338px;
    width: 100%;
    padding-left: 78px;
    margin-bottom: 20px;
}

.step:last-child {
    margin-bottom: 0;
}

.step-num {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 80px;
}

.step-title {
    font-family: Odds;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.step-subtitle {
    font-family: Odds;
    font-size: 19px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
}

.step-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.step-subtext {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.magnit_card {
    position: absolute;
    top: 70px;
    right: -40px;
    width: 70px;
}

.step .btn-wrapper {
    margin-top: 5px;
}

.arrow-down {
    position: absolute;
    top: 475px;
    left: 0;
    right: 0;
    margin: auto;
    width: 54px;
    height: 54px;
    background: url(../img/arrow-down.gif) center no-repeat;
    background-size: contain;
    z-index: 3;
}

.main-page {
    margin-top: 0 !important;
    padding-top: 210px;
    padding-bottom: 260px;
}

.main-page::before {
    background: url(../img/bg-main.png) center 0 no-repeat;
    background-size: 100% 100%;
}

.main-page::after {
    content: '';
    position: absolute;
    top: 25px;
    left: -950px;
    right: 0;
    margin: auto;
    width: 154px;
    height: 160px;
    background: url(../img/shild.png) center no-repeat;
    background-size: contain;
    transform: rotate(17deg);
}

.main-page .container {
    max-width: 1200px;
}

.video-block {
    margin-bottom: 200px;
}

.video-wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 40px auto 0;
    overflow: hidden;
    border-radius: 20px;
}

#video_holder {
    position: relative;
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 162px;
    height: 162px;
    z-index: 1;
    background: url(../img/play.svg) center no-repeat;
    background-size: cover;
    cursor: pointer;
}

#overlay.o {
    background: none;
}

.youtube-wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 40px auto 0;
}

.youtube {
    background-color: #27C2EE;
    border-radius: 20px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.youtube img {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.youtube .play-button {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 162px;
    height: 162px;
    background: url(../img/play.svg) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.youtube img,
.youtube .play-button {
    cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button {
    position: absolute;
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.video-wrapper + .btn-wrapper,
.youtube-wrapper + .btn-wrapper {
    margin-top: -25px;
}

.main-btn {
    max-width: 360px;
    width: 100%;
}

.map-block .page-subtitle {
    margin: 40px auto 50px;
}

.test-popup .popup__wrap {
    max-width: 1000px;
    overflow: hidden;
}

.test-popup .popup__inner {
    max-width: 970px;
}

.test-form {
    margin: 15px auto 40px;
}

.test-question-title {
    display: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.test-question-title.active {
    display: block;
}

.test-question-wrapper {
    display: none;
    justify-content: space-between;
    margin: 40px auto;
}

.test-question-wrapper.active {
    display: flex;
}

.question-field {
    max-width: 230px;
    margin: 0 5px;
}

.question-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 170px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.question-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #0F69B2;
    border-radius: 30px;
    z-index: 0;
}

.question-checkbox input:checked + .question-checkmark {
    background: rgba(255, 255, 255, .5);
}

.question-checkbox input {
    -webkit-appearance: none;
    padding: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.question-checkbox-text {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.question-checkbox input:checked ~ .question-checkbox-text {
    color: #003595;
}

.test-question-wrapper-area {
    position: relative;
    max-width: 940px;
    width: 100%;
    height: 240px;
    margin: 80px auto 60px;
}

.question-area {
    position: absolute;
    width: 240px;
    height: 240px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.karton-area {
    left: 0;
}

.karton-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    margin: auto;
    width: 270px;
    height: 111px;
    background: url(../img/test/karton.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.folga-area {
    right: 0;
}

.folga-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    margin: auto;
    width: 216px;
    height: 168px;
    background: url(../img/test/folga.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.question-area .sort-element {
    
}

.sort-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.sort-element:hover,
.sort-element.click {
    filter: drop-shadow(5px -4px 0px #FFF236) drop-shadow(-5px 4px 0px #FFF236);
}

.egg_carton {
    top: -250px;
    left: -200px;
    width: 136px;
}

.question-area .egg_carton {
    top: -210px;
    left: -140px;
}

.korobka {
    top: -250px;
    right: -170px;
    width: 149px;
}

.question-area .korobka {
    top: -220px;
    right: -170px;
    width: 133px;
}

.plitka {
    left: -200px;
    width: 98px;
}

.question-area .plitka {
    left: -140px;
}

.lavka {
    right: -200px;
    width: 159px;
}

.question-area .lavka {
    right: -130px;
}

.luk {
    bottom: -220px;
    left: -200px;
    width: 120px;
}

.question-area .luk {
    bottom: -210px;
    left: -130px;
}

.bumaga {
    bottom: -220px;
    right: -200px;
    width: 137px;
}

.question-area .bumaga {
    bottom: -200px;
    right: -150px;
}

.test-result {
    position: relative;
    display: none;
    margin: 100px auto 70px;
}

.test-result.active {
    display: block;
}

.test-result::before {
    content: '';
    position: absolute;
    bottom: -200px;
    left: -50px;
    width: 389px;
    height: 520px;
    background: url(../img/barni.png) center no-repeat;
    background-size: contain;
}

.test-question-text {
    max-width: 520px;
    width: 100%;
    margin: 10px auto 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1366px) {
    .inner-page::before {
        background-size: cover;
    }
}

@media (max-width: 1280px) {
    .menu-links {
        max-width: 640px;
    }

    .menu-link {
        font-size: 14px;
    }

    .lk-table-wrapper {
        max-width: 490px;
    }

    .product {
        margin: 20px auto;
    }

    .kv {
        left: -120px;
        width: 420px;
    }

    .steps {
        margin-right: 30px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 375px;
    }

    header {
        height: 59px;
        background: none;
        box-shadow: none;
    }

    header ~ .inner-page {
        margin-top: 110px;
    }

    .menu {
        height: 59px;
        padding: 0;
    }

    .menu::before {
        content: '';
        position: absolute;
        top: 0;
        left: -500px;
        right: -500px;
        margin: auto;
        width: 1000px;
        height: 100%;
        background: rgba(50, 199, 240, 0.5);
        z-index: 11;
    }

    .logo {
        top: 13px;
        left: 0;
        right: 0;
        max-width: 136px;
        margin: auto;
        z-index: 11;
    }

    .logo-magnit {
        top: 0;
        left: 15px;
        bottom: 0;
        margin: auto;
        width: 68px;
        height: 58px;
        background: url(../img/logo-magnit-mob.svg) center no-repeat;
        background-size: contain;
        z-index: 11;
    }

    .burger {
        position: absolute;
        top: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 59px;
        height: 59px;
        background: url(../img/menu.svg) center no-repeat;
        background-size: 32px;
        transition: all .2s linear;
        z-index: 11;
    }

    .burger.active {
        background: url(../img/close-menu.svg) center no-repeat;
        background-size: 25px;
    }

    .logo-5ka {
        top: 12px;
        right: 20px;
        width: 55px;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        top: -650px;
        left: 0;
        right: 0;
        max-width: 100%;
        width: 100%;
        min-height: 450px;
        height: calc(100vh - 59px);
        transition: all .2s linear;
        background: url(../img/bg.jpg) center 0 no-repeat;
        background-size: cover;
        margin: auto;
        padding: 50px 0;
        text-align: center;
        z-index: 0;
    }

    .menu-links::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 182px;
        background: url(../img/bg-menu.png) center 0 no-repeat;
        background-size: 100% 100%;
        z-index: 11;
    }

    .menu-links.active {
        top: 59px;
        z-index: 10;
    }

    .menu-link {
        max-width: 270px;
        width: 100%;
        font-size: 30px;
        line-height: 1;
        margin: 13px auto;
        padding: 0;
    }

    .footer-text {
        max-width: 320px;
        font-size: 11px;
        line-height: 13px;
    }

    .footer-text span {
        font-size: 11px;
        line-height: 13px;
    }

    .footer-links {
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }

    .footer-links a {
        margin: 10px auto;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-copyright {
        margin-bottom: 20px;
        order: -2;
    }

    .footer-contacts {
        margin-bottom: 25px;
        order: -1;
    }

    .footer-socials {
        justify-content: center;
    }

    .inner-page {
        min-height: auto;
        padding-bottom: 60px;
    }

    .inner-page::before {
        background: url(../img/bg-inner-mob.png) center 0 no-repeat;
        background-size: 100% 100%;
    }

    .page-title,
    .page-title2 {
        font-weight: 900;
        font-size: 30px;
        line-height: 1.3;
    }

    .faq-container {
        margin: 140px auto 0;
        flex-direction: column;
    }

    .faq-wrap {
        max-width: 350px;
        height: 500px;
        margin-bottom: 25px;
        padding-right: 15px;
    }

    .faq-item {
        max-width: 330px;
        margin-bottom: 15px;
    }

    .faq-item-title {
        font-size: 14px;
        line-height: 16px;
        padding-left: 35px;
    }

    .faq-item-text {
        font-size: 14px;
        line-height: 16px;
        padding: 15px 0 0 35px;
    }

    .feedback-form {
        max-width: 290px;
    }

    .lk-wrapper {
        flex-direction: column;
        margin: 0 auto;
    }

    .lk-table-wrapper {
        padding: 40px 10px 20px;
    }

    .lk-table-checks {
        height: 420px;
        order: -2;
    }

    .lk-table {
        max-width: 300px;
        max-height: 270px;
        margin: 36px auto 0;
    }

    .lk-table th {
        font-family: Odds;
        font-size: 18px;
        line-height: 1;
        color: #FFF236;
        padding-bottom: 20px;
    }

    .lk-table table td {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .lk-table-checks + .btn-wrapper {
        margin: 30px auto;
        order: -1;
    }

    .lk-prizes {
        height: 435px;
    }

    .prizes-page::before {
        top: 50px;
    }

    .prize-row {
        flex-direction: column;
    }

    .product-page::before {
        background: url(../img/bg-products-mob.png) center 0 no-repeat;
        background-size: 100% 100%;
    }

    .product-page::after {
        top: 25px;
        left: -200px;
        width: 150px;
        height: 153px;
        transform: rotate(35deg);
    }

    .product-row:nth-child(2) {
        margin-bottom: 110px;
    }

    .winners-page::before {
        top: 60px;
    }

    .page-subtitle {
        font-size: 18px;
        line-height: 1;
        margin-top: 5px;
    }

    .filters {
        flex-direction: column;
        margin: 70px auto 40px;
    }

    .date-filter {
        margin-bottom: 20px;
    }

    .phone-filter {
        margin-bottom: 10px;
    }

    .winners-table th {
        color: #FFF236;
    }

    .winners-table td {
        min-width: 160px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .winners-table td.mobile-visible {
        display: table-cell;
    }

    .prize-td {
        display: flex;
        align-items: center;
        max-width: 180px;
        min-height: 88px;
        padding-left: 68px;
        padding-right: 0;
    }

    .winners-prize {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }

    .winners-prize img {
        width: 60px;
    }

    .winners-prize-info {
        max-width: 112px;
    }

    .winners-date {
        font-size: 18px;
        line-height: 1;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    .winners-name {
        font-size: 18px;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        margin: 0 0 8px;
    }

    .kv-block {
        height: 160px;
        margin-top: 100px;
    }

    .barni {
        top: 100px;
        left: -180px;
        width: 208px;
        height: 270px;
    }

    .kv {
        top: 0;
        left: 0;
        right: -50px;
        width: 255px;
        height: 128px;
    }

    .steps {
        position: relative;
        top: 315px;
        max-width: 330px;
        margin: 0 auto;
        z-index: 2;
    }

    .step {
        max-width: 330px;
        padding-left: 50px;
        margin-bottom: 10px;
    }

    .step-num {
        width: 47px;
        height: 48px;
    }

    .step-title,
    .step-subtitle,
    .step-text,
    .step-subtext {
        text-align: left;
    }

    .magnit_card {
        top: 60px;
        right: 0;
        width: 86px;
    }

    .step .btn-wrapper {
        justify-content: flex-start;
    }

    .step .btn {
        margin: 0;
    }

    .main-page {
        padding-top: 500px;
        padding-bottom: 130px;
    }

    .main-page::before {
        background: url(../img/bg-main-mob.png) center 0 no-repeat;
        background-size: 100% 100%;
    }

    .main-page::after {
        top: -20px;
        left: 0;
        right: -150px;
        width: 174px;
        height: 180px;
        transform: rotate(5deg);
    }

    .main-page .container {
        max-width: 375px;
    }

    .video-block {
        margin-top: 50px;
    }

    .video-wrapper {
        max-width: 350px;
        margin: 20px auto;
    }

    #overlay {
        width: 82px;
        height: 82px;
    }

    .youtube-wrapper {
        max-width: 350px;
        margin: 20px auto;
    }

    .youtube .play-button {
        width: 82px;
        height: 82px;
    }

    .video-wrapper + .btn-wrapper,
    .youtube-wrapper + .btn-wrapper {
        margin: auto;
    }
    
    .video-block .page-subtitle,
    .map-block .page-subtitle {
        font-size: 22px;
        line-height: 28px;
    }

    .test-question-title {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 21px;
    }

    .test-question-wrapper {
        flex-direction: column;
    }

    .question-field {
        margin: 4px auto;
    }

    .question-checkbox {
        height: 90px;
    }

    .question-checkbox-text {
        font-size: 20px;
        line-height: 1;
    }

    .test-question-wrapper-area {
        max-width: 320px;
        height: 410px;
        margin: 30px auto;
    }

    .question-area {
        top: 0;
        width: 150px;
        height: 150px;
    }

    .karton-area::after {
        width: 158px;
        height: 65px;
    }

    .folga-area::after {
        width: 134px;
        height: 103px;
    }

    .question-area-sort {
        position: relative;
        top: 290px;
    }

    .egg_carton {
        top: -150px;
        left: -130px;
        width: 92px;
    }

    .question-area .egg_carton {
        top: -110px;
        left: -80px;
        width: 65px;
    }

    .korobka {
        top: -150px;
        right: -110px;
        width: 101px;
    }

    .question-area .korobka {
        top: -110px;
        right: -75px;
        width: 67px;
    }

    .plitka {
        left: -130px;
        width: 71px;
    }

    .question-area .plitka {
        left: -80px;
        width: 48px;
    }

    .lavka {
        top: 15px;
        right: -120px;
        width: 123px;
    }

    .question-area .lavka {
        top: 0;
        right: -85px;
        width: 74px;
    }

    .luk {
        bottom: -170px;
        left: -130px;
        width: 101px;
    }

    .question-area .luk {
        bottom: -110px;
        left: -80px;
        width: 68px;
    }

    .bumaga {
        bottom: -170px;
        right: -115px;
        width: 92px;
    }

    .question-area .bumaga {
        bottom: -110px;
        right: -85px;
        width: 71px;
    }

    .test-result {
        margin: 100px auto 200px;
    }

    .test-result::before {
        bottom: -280px;
        left: 0;
        right: 0;
        margin: auto;
        width: 208px;
        height: 270px;
    }

    .test-question-text {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 375px) {
    .inner-page::before {
        background-size: cover;
    }
}

@media (max-width: 350px) {
    .lk-table table td:nth-child(5) {
        min-width: 90px;
    }

    .winners-table td {
        min-width: 130px;
    }

    .winners-name {
        max-width: 130px;
    }

    .step-title {
        font-size: 33px;
    }

    .magnit_card {
        top: 74px;
        right: -10px;
        width: 62px;
    }

    .video-block .page-subtitle,
    .map-block .page-subtitle {
        font-size: 19px;
    }
}